.minimal-share > * {
  display: inline-block;
  margin-left: 0.3em;
  padding: 0.4em 0.5em;
  background-color: #ddd;
  color: #fff;
  text-decoration: none;
  white-space: pre;
}

.minimal-share > *:first-child {
  margin-left: 0;
}

.minimal-share > a:hover,
.minimal-share > a:active,
.minimal-share > a:focus {
  color: #fff;
  text-decoration: none;
}

.minimal-share > .facebook {
  background-color: #3b5998;
}

.minimal-share > .twitter {
  background-color: #0099d2;
}

.minimal-share > .gplus {
  background-color: #db4a39;
}

.minimal-share > .linkedin {
  background-color: #007bb6;
}

.minimal-share > .pinterest {
  background-color: #cb2027;
}

.minimal-share > .tumblr {
  background-color: #32506d;
}

.minimal-share > .email,
.minimal-share > .print {
  color: #666;
}

.minimal-share > .email:hover,
.minimal-share > .print:hover {
  color: #666;
}
