#minimal-share-preview > .minimal-share > * {
  margin-left: 0;
  margin-right: 0.3em;
}

#minimal-share-preview > .minimal-share > *.last {
  margin-right: 0;
}

#minimal-share-preview > .minimal-share > *.last + .ui-sortable-placeholder {
  margin-left: 0.3em;
}

#minimal-share-preview > .minimal-share > *.hide {
  display: none;
}

#minimal-share-preview > .minimal-share.ui-sortable {
  overflow: hidden;
}

#minimal-share-preview > .minimal-share.ui-sortable > * {
  cursor: move;
  float: left;
}

.ui-sortable-placeholder {
  background-color: #ddd;
  display: inline-block;
  float: left;
}

.minimal-share > style {
  display: none;
}

#minimal-share-config-form .description .icon {
  font-family: 'ms-icons';
}
