@font-face {
  font-family: 'ms-icons';
  src: url('font/ms-icons.eot');
  src: url('font/ms-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.minimal-share > .icon {
  font-family: 'ms-icons';
  font-style: normal;
}

.minimal-share > .icon.facebook:before {
  content: '\e800';
}

.minimal-share > .icon.twitter:before {
  content: '\e802';
}

.minimal-share > .icon.gplus:before {
  content: '\e803';
}

.minimal-share > .icon.linkedin:before {
  content: '\e804';
}

.minimal-share > .icon.pinterest:before {
  content: '\e805';
}

.minimal-share > .icon.tumblr:before {
  content: '\e806';
}

.minimal-share > .icon.email:before {
  content: '\e801';
}

.minimal-share > .icon.print:before {
  content: '\e807';
}
