label .minimal-share > * {
  line-height: 2em;
}

#minimal-share-preview > .minimal-share {
  overflow: hidden;
}

#minimal-share-preview > .minimal-share > * {
  margin-left: 0;
  margin-right: 0.3em;
}

#minimal-share-preview > .minimal-share > *.last {
  margin-right: 0;
}

#minimal-share-preview > .minimal-share > *.last + .ui-sortable-placeholder {
  margin-left: 0.3em;
}

#minimal-share-preview > .minimal-share > *.hide {
  display: none;
}

#minimal-share-preview > .minimal-share.ui-sortable > * {
  cursor: move;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  float: left;
}

.ui-sortable-placeholder {
  background-color: #ddd;
  display: inline-block;
  float: left;
}
