.minimal-share {
  display: flex;
}

.minimal-share > * {
  display: inline-block;
  padding: 0.4em 0.5em;
  background-color: #ddd;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 0;
}

.minimal-share > * + * {
  margin-left: 5px;
}

.minimal-share > *:first-child {
  margin-left: 0;
}

.minimal-share > a:hover,
.minimal-share > a:active,
.minimal-share > a:focus {
  color: #fff;
  text-decoration: none;
}

.minimal-share svg path {
  fill: #fff;
}

.minimal-share > .facebook {
  background-color: #3b5998;
}

.minimal-share > .facebook-messenger {
  background-color: #0084ff;
}

.minimal-share > .twitter {
  background-color: #0099d2;
}

.minimal-share > .google-plus {
  background-color: #db4a39;
}

.minimal-share > .linkedin {
  background-color: #007bb6;
}

.minimal-share > .pinterest {
  background-color: #cb2027;
}

.minimal-share > .tumblr {
  background-color: #32506d;
}

.minimal-share > .whatsapp {
  background-color: #4dc247;
}

.minimal-share > .xing {
  background-color: #005A5f;
}

.minimal-share > .email,
.minimal-share > .print {
  color: #666;
}

.minimal-share > .email:hover,
.minimal-share > .email:focus,
.minimal-share > .email:active,
.minimal-share > .print:hover,
.minimal-share > .print:focus,
.minimal-share > .print:active {
  color: #666;
}

.minimal-share > .email path,
.minimal-share > .print path {
  fill: #666;
}

.minimal-share > .ms-mobile-only {
  display: none;
}

.minimal-share > .ms-show {
  display: inline-block;
}

.minimal-share > .ms-hidden {
  display: none;
}

.minimal-share > .ms-icon {
  width: 20px;
  height: 20px;
  padding: 8px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: content-box;
}

.minimal-share > .ms-icon img,
.minimal-share > .ms-icon svg {
  width: 100%;
  height: 100%;
}
